<html>
  <head>
    <style>
      body {
        font-family: Helvetica, sans-serif;
        font-size: 18px;
      }
      table{
        border: none;
      }
      table tr{}
      table tr.even{
        background-color: #aaa;
      }
      table tr.odd{
        background-color: #ccc;
      }
      table#document {
        width: 950px;
      }
      td {
        vertical-align: top;
        padding: 5px;
        font-size: 90%;
      }
      td.right, th.right {
        text-align: right;
      }
      th {
        text-align: left;
        padding: 15px;
        font-size: 90%;
        background-color: #ccc;
        color: #2075BB;
      }
      table#address, table#line_items {
        width: 100%;
        border: 1px solid #333;
      }
      table#address td {
        width: 50%;
        padding: 15px;
      }
      table#address {
        margin: 2em 0 0.5em 0;
      }
      h3 {
        font-weight: bold;
        font-size: 180%;
        color: #135391;
        margin-bottom: 0.5em;
      }
      p#order_number {
        font-weight: bold;
      }
      #summary td {
        text-align: right;
        font-weight: bold;
        line-height: 1.5em;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
