<div class="order-links toolbar">
<% if @order.completed_at? %>
  <% buttons = "invoice" 
     buttons = buttons.split(",").collect{|b| b.strip } %>
  <h4>debug</h4>
  <%  buttons.each do |button| %>
    <p>
      <%= t(button.to_s+"_print") %>
    </p>
    <% #button_link_to(t(button.to_s+"_print"), spree_admin_order_print_path(@order, :pdf, :template => button)) %>
  <% end %>
<% end %>
</div>
